In [505]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns

In [506]:
df = pd.read_csv("energydata_complete.csv")

In [507]:
df.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [508]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19735 entries, 0 to 19734
Data columns (total 29 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         19735 non-null  object
 1   Appliances   19735 non-null  int64
 2   lights       19735 non-null  int64
 3   T1           19735 non-null  float64
 4   RH_1         19735 non-null  float64
 5   T2           19735 non-null  float64
 6   RH_2         19735 non-null  float64
 7   T3           19735 non-null  float64
 8   RH_3         19735 non-null  float64
 9   T4           19735 non-null  float64
 10  RH_4         19735 non-null  float64
 11  T5           19735 non-null  float64
 12  RH_5         19735 non-null  float64
 13  T6           19735 non-null  float64
 14  RH_6         19735 non-null  float64
 15  T7           19735 non-null  float64
 16  RH_7         19735 non-null  float64
 17  T8           19735 non-null  float64
 18  RH_8         19735 non-null  float64
 19  T9           19735 non-null  float64
 20  RH_9         19735 non-null  float64
 21  T_out        19735 non-null  float64
 22  Press_mm_hg  19735 non-null  float64
 23  RH_out       19735 non-null  float64
 24  Windspeed    19735 non-null  float64
 25  Visibility   19735 non-null  float64
 26  Tdewpoint    19735 non-null  float64
 27  rv1          19735 non-null  float64
 28  rv2          19735 non-null  float64
dtypes: float64(26), int64(2), object(1)
memory usage: 4.4+ MB

In [509]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
x_sample = df['T2'].to_numpy().reshape(-1,1)
y_sample = df['T6'].to_numpy().reshape(-1,1)

In [510]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score
x_sample_train, x_sample_test, y_sample_train, y_sample_test = train_test_split(x_sample, y_sample)
lr.fit(x_sample_train, y_sample_train)
y_sample_pred = lr.predict(x_sample_test)
print(r2_score(y_sample_test, y_sample_pred))

0.6557193235604228

In [511]:
df['date_col'] = pd.to_datetime(df['date'])
df = df.drop(columns=['date', 'lights'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19735 entries, 0 to 19734
Data columns (total 28 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Appliances   19735 non-null  int64
 1   T1           19735 non-null  float64
 2   RH_1         19735 non-null  float64
 3   T2           19735 non-null  float64
 4   RH_2         19735 non-null  float64
 5   T3           19735 non-null  float64
 6   RH_3         19735 non-null  float64
 7   T4           19735 non-null  float64
 8   RH_4         19735 non-null  float64
 9   T5           19735 non-null  float64
 10  RH_5         19735 non-null  float64
 11  T6           19735 non-null  float64
 12  RH_6         19735 non-null  float64
 13  T7           19735 non-null  float64
 14  RH_7         19735 non-null  float64
 15  T8           19735 non-null  float64
 16  RH_8         19735 non-null  float64
 17  T9           19735 non-null  float64
 18  RH_9         19735 non-null  float64
 19  T_out        19735 non-null  float64
 20  Press_mm_hg  19735 non-null  float64
 21  RH_out       19735 non-null  float64
 22  Windspeed    19735 non-null  float64
 23  Visibility   19735 non-null  float64
 24  Tdewpoint    19735 non-null  float64
 25  rv1          19735 non-null  float64
 26  rv2          19735 non-null  float64
 27  date_col     19735 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(26), int64(1)
memory usage: 4.2 MB

In [512]:
df['day'] = date_col.dt.day
df['month'] = date_col.dt.month
df['hour'] = date_col.dt.hour
df['minutes'] = date_col.dt.minute
df = df.drop(columns=['date_col'])
df.head()

,Appliances,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,T5,...,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2,day,month,hour,minutes
0,60,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,45.566667,17.166667,...,92.0,7.000000,63.000000,5.3,13.275433,13.275433,11,1,17,0
1,60,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,45.992500,17.166667,...,92.0,6.666667,59.166667,5.2,18.606195,18.606195,11,1,17,10
2,50,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,45.890000,17.166667,...,92.0,6.333333,55.333333,5.1,28.642668,28.642668,11,1,17,20
3,50,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,45.723333,17.166667,...,92.0,6.000000,51.500000,5.0,45.410389,45.410389,11,1,17,30
4,60,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,45.530000,17.200000,...,92.0,5.666667,47.666667,4.9,10.084097,10.084097,11,1,17,40

In [513]:
corr_matrix = df.corr()
corr_matrix['Appliances'].sort_values(ascending=False)

Appliances     1.000000
hour           0.216792
T2             0.120073
T6             0.117638
T_out          0.099155
Windspeed      0.087122
RH_1           0.086031
T3             0.085060
T1             0.055447
T4             0.040281
T8             0.039572
RH_3           0.036292
T7             0.025801
T5             0.019760
RH_4           0.016965
Tdewpoint      0.015353
minutes        0.013216
T9             0.010010
RH_5           0.006955
day            0.002366
Visibility     0.000230
rv1           -0.011145
rv2           -0.011145
month         -0.011606
Press_mm_hg   -0.034885
RH_9          -0.051462
RH_7          -0.055642
RH_2          -0.060465
RH_6          -0.083178
RH_8          -0.094039
RH_out        -0.152282
Name: Appliances, dtype: float64

In [514]:
y = df['Appliances']
X = df.drop(columns=['Appliances'])
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19735 entries, 0 to 19734
Data columns (total 30 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   T1           19735 non-null  float64
 1   RH_1         19735 non-null  float64
 2   T2           19735 non-null  float64
 3   RH_2         19735 non-null  float64
 4   T3           19735 non-null  float64
 5   RH_3         19735 non-null  float64
 6   T4           19735 non-null  float64
 7   RH_4         19735 non-null  float64
 8   T5           19735 non-null  float64
 9   RH_5         19735 non-null  float64
 10  T6           19735 non-null  float64
 11  RH_6         19735 non-null  float64
 12  T7           19735 non-null  float64
 13  RH_7         19735 non-null  float64
 14  T8           19735 non-null  float64
 15  RH_8         19735 non-null  float64
 16  T9           19735 non-null  float64
 17  RH_9         19735 non-null  float64
 18  T_out        19735 non-null  float64
 19  Press_mm_hg  19735 non-null  float64
 20  RH_out       19735 non-null  float64
 21  Windspeed    19735 non-null  float64
 22  Visibility   19735 non-null  float64
 23  Tdewpoint    19735 non-null  float64
 24  rv1          19735 non-null  float64
 25  rv2          19735 non-null  float64
 26  day          19735 non-null  int64
 27  month        19735 non-null  int64
 28  hour         19735 non-null  int64
 29  minutes      19735 non-null  int64
dtypes: float64(26), int64(4)
memory usage: 4.5 MB

In [515]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
X_scaled = scaler.fit(X).transform(X)

In [516]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size = 0.30, random_state=42)

In [517]:
from sklearn.linear_model import LinearRegression
lr2 = LinearRegression()
lr2.fit(X_train, y_train)

LinearRegression()

In [518]:
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error
y_pred = lr2.predict(X_test)
print(r2_score(y_test, y_pred))
print(mean_absolute_error(y_test, y_pred))
print(mean_squared_error(y_test, y_pred, squared=False))

0.1525288720630994
53.648755201494346
93.4407534561177

In [526]:
#To find the residual sum of squares

rss = np.sum(np.square(y_test - y_pred))
print(rss)

51697283.66057253

In [520]:
importance = lr2.coef_
for i,v in enumerate(importance):
    print('Feature: %0d, Score: %.5f' % (i,v))

Feature: 0, Score: -38.00400
Feature: 1, Score: 557.51113
Feature: 2, Score: -261.83643
Feature: 3, Score: -474.80448
Feature: 4, Score: 343.14939
Feature: 5, Score: 78.93479
Feature: 6, Score: 32.08660
Feature: 7, Score: -0.65217
Feature: 8, Score: -18.83570
Feature: 9, Score: 8.66115
Feature: 10, Score: 255.51934
Feature: 11, Score: 12.10298
Feature: 12, Score: 2.20207
Feature: 13, Score: -43.31326
Feature: 14, Score: 98.24851
Feature: 15, Score: -125.42308
Feature: 16, Score: -124.73460
Feature: 17, Score: -35.19960
Feature: 18, Score: -263.17718
Feature: 19, Score: 10.12956
Feature: 20, Score: -16.70402
Feature: 21, Score: 27.40974
Feature: 22, Score: 12.16534
Feature: 23, Score: 70.93323
Feature: 24, Score: 0.87746
Feature: 25, Score: 0.87746
Feature: 26, Score: -11.89096
Feature: 27, Score: -60.78415
Feature: 28, Score: 29.57865
Feature: 29, Score: 5.66027

In [521]:
from sklearn.linear_model import Ridge
ridge_reg = Ridge(alpha=0.4)
ridge_reg.fit(X_train, y_train)
y_pred_ridge = ridge_reg.predict(X_test)
print(mean_squared_error(y_test, y_pred_ridge, squared=False))

93.46106865045095

In [522]:
from sklearn.linear_model import Lasso
lasso_reg = Lasso(alpha=0.001)
lasso_reg.fit(X_train, y_train)
y_pred_lasso = lasso_reg.predict(X_test)
print(mean_squared_error(y_test, y_pred_lasso, squared=False))

93.43974743907096

In [523]:
importance_lasso = lasso_reg.coef_
for i,v in enumerate(importance_lasso):
    print('Feature: %0d, Score: %.5f' % (i,v))

Feature: 0, Score: -38.82499
Feature: 1, Score: 555.58819
Feature: 2, Score: -258.94951
Feature: 3, Score: -471.07843
Feature: 4, Score: 342.56255
Feature: 5, Score: 78.08586
Feature: 6, Score: 31.67637
Feature: 7, Score: -0.63970
Feature: 8, Score: -19.26602
Feature: 9, Score: 8.60226
Feature: 10, Score: 252.41743
Feature: 11, Score: 11.27128
Feature: 12, Score: 1.48217
Feature: 13, Score: -43.15965
Feature: 14, Score: 97.97246
Feature: 15, Score: -125.44072
Feature: 16, Score: -123.57397
Feature: 17, Score: -35.14318
Feature: 18, Score: -250.53046
Feature: 19, Score: 10.03711
Feature: 20, Score: -11.11614
Feature: 21, Score: 27.49543
Feature: 22, Score: 12.07767
Feature: 23, Score: 63.04270
Feature: 24, Score: 1.73657
Feature: 25, Score: 0.00000
Feature: 26, Score: -11.85852
Feature: 27, Score: -61.14339
Feature: 28, Score: 29.63974
Feature: 29, Score: 5.64955